.RemoveLP{
    .swapfrom--box{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .line{
        position: relative;
        left: 81%;
    }
    
    .subtile{
        margin-left: 10px;
        font-size: 16px;
        color: #ECBF40;
        margin-top: 2px;
    }
}