@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Plus+Jakarta+Sans:wght@500&display=swap');
@import url('styles/global.scss');
body { 
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 705px !important;
}
*{
  box-sizing: border-box;
}
.main-container{
  width: 380px;
  background-color: var(--text-black-primary);
}
:root {
  --text-yellow-primary: #DFB53C;
  --button-primary: #DFB53C;
  --text-orange-primary: #C36027;
  --text-red-primary: #FF0000;
  --text-blue-primary: #0C95F8;
  --text-black-primary: #141010;
  --text-gray-primary: #5C5C5C;
  --background-color: #242424;
  --background-header-color: #333333;

}
.ant-dropdown-trigger .ant-space-item span svg {
  width: 10px;
  height: 10px;
}
.one{
  color: #141010;
}
